<div
  class="matrix-board"
  (window:resize)="onResizeCanvas()"
  (mouseup)="onMouseUp($event)"
  (mousedown)="onMouseDown($event)"
  (mousemove)="onMouseMove($event)"
  #mainContainer
>
  <canvas #canvas></canvas>
  <ng-container *ngFor="let ch of height; let y = index">
    <div
      *ngFor="let cw of width; let x = index"
      [class]="
        getCellClass(
          {
            x: cellWidth * x,
            y: cellHeight * (height.length - 1 - y)
          },
          x + ', ' + y
        )
      "
      [style.height.%]="100 / height.length"
      [style.width.%]="100 / width.length"
    >
      {{ x + ", " + y }}
    </div>
  </ng-container>
</div>
<button class="makeBtn--unknown" (click)="onMake(AgentType.Unknown)">
  Reset
</button>
<button class="makeBtn--spot-agent" (click)="onMake(AgentType.SpotAgent)">
  Make spot
</button>
<button
  class="makeBtn--agv-station-agent"
  (click)="onMake(AgentType.AgvStationAgent)"
>
  Make agv station
</button>
<button
  class="makeBtn--worker-moving-area"
  (click)="onMake(AgentType.WorkerMovingArea)"
>
  Make worker moving area
</button>
<button class="makeBtn--person-agent" (click)="onMake(AgentType.PersonAgent)">
  Make person
</button>
<button
  class="makeBtn--agv-moving-area"
  (click)="onMake(AgentType.AgvMovingArea)"
>
  Make agv moving area
</button>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2>AGV Configuration</h2>
  <div>
    <label for="agvLoadingTime">Agv Loading Time: </label>
    <input id="agvLoadingTime" type="number" formControlName="agvLoadingTime" />
  </div>
  <div>
    <label for="agvFillingTime">Agv Filling Time: </label>
    <input id="agvFillingTime" type="number" formControlName="agvFillingTime" />
  </div>

  <div formGroupName="processingTimes">
    <h2>Station Processing Times</h2>
    <div
      *ngFor="
        let control of processingTimesFormGroup.controls
          | keyvalue: keyValueSortFn;
        let i = index;
        trackBy: trackByFn
      "
    >
      <div [formGroupName]="control.key">
        <label for="control-{{ i }}-processingTimeA">{{
          "Processing Time of A of station " + control.key + ": "
        }}</label>
        <input
          id="control-{{ i }}-processingTimeA"
          type="text"
          formControlName="processingTimeA"
        />
        <label for="control-{{ i }}-processingTimeB">{{
          "Processing Time of B of station " + control.key + ": "
        }}</label>
        <input
          id="control-{{ i }}-processingTimeB"
          type="text"
          formControlName="processingTimeB"
        />
        <label for="control-{{ i }}-order">{{
          "Order of station " + control.key + ": "
        }}</label>
        <input
          id="control-{{ i }}-order"
          type="number"
          formControlName="order"
        />
      </div>
    </div>
  </div>
  <button type="submit">Save</button>
</form>
