$unknown-color: white;
$selected-color: yellow;
$spot-agent-color: gray;
$agv-station-agent-color: rgb(128, 66, 9);
$worker-moving-area-color: rgb(17, 226, 17);
$person-agent-color: red;
$agv-moving-area-color: orange;

@mixin bar-button-group($width, $color) {
  @content;
  display: flex;
  justify-content: space-evenly;
  width: $width;
  > a {
    @include bar-button($color);
  }
}

@mixin bar-button($color) {
  color: $color;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.task-bar {
  height: 40px;
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.info-button-group {
  @include bar-button-group(400px, white) {
    margin-left: 50px;
  }
}

.action-button-group {
  @include bar-button-group(200px, white) {
    margin-right: 50px;
  }
}

.tab-bar {
  height: 40px;
  background-color: rgb(211, 203, 203);
  display: flex;
  justify-content: flex-start;
}

.tab-button-group {
  @include bar-button-group(400px, black) {
    margin-left: 50px;
  }
}

.content {
  display: flex;
  overflow: auto;
  padding: 40px 15px 0px 15px;
  justify-content: space-evenly;
}

.configuration {
  width: 50%;
  overflow: auto;
}

.config-panel-container {
  min-width: 700px;
  margin-bottom: 10px;
}

.matrix-board {
  display: flex;
  flex-wrap: wrap-reverse;
  height: 400px;
  width: 400px;
  position: relative;
  flex-shrink: 0;
}

canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
}

.make-btn {
  border-width: 1px;
  &--unknown {
    @extend .make-btn;
    background-color: $unknown-color;
  }

  &--selected {
    @extend .make-btn;
    background-color: $selected-color;
  }

  &--spot-agent {
    @extend .make-btn;
    background-color: $spot-agent-color;
  }

  &--agv-station-agent {
    @extend .make-btn;
    background-color: $agv-station-agent-color;
  }

  &--worker-moving-area {
    @extend .make-btn;
    background-color: $worker-moving-area-color;
  }

  &--person-agent {
    @extend .make-btn;
    background-color: $person-agent-color;
  }

  &--agv-moving-area {
    @extend .make-btn;
    background-color: $agv-moving-area-color;
  }
}

.cell {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  border: 1px solid black;
  &--unknown {
    @extend .cell;
    background-color: $unknown-color;
  }

  &--selected {
    @extend .cell;
    background-color: $selected-color;
  }

  &--spot-agent {
    @extend .cell;
    background-color: $spot-agent-color;
  }

  &--agv-station-agent {
    @extend .cell;
    background-color: $agv-station-agent-color;
  }

  &--worker-moving-area {
    @extend .cell;
    background-color: $worker-moving-area-color;
  }

  &--person-agent {
    @extend .cell;
    background-color: $person-agent-color;
  }

  &--agv-moving-area {
    @extend .cell;
    background-color: $agv-moving-area-color;
  }
}

table {
  overflow: auto;
  display: block;
  width: 100%;
  height: 100%;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

td::after {
  content: " ";
}

input {
  width: 100%;
  border: none;
}

.agv-configuration {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-station-processing-times {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-btn {
  margin-top: 10px;
}

:host {
  display: block;
  width: 100%;
  height: 100%;
  user-select: none;
}
