<div class="container">
  <form
    class="form"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    #myForm="ngForm"
  >
    <div class="task-bar">
      <div class="info-button-group">
        <a href="#"> Manufacture Model </a>
        <a href="#"> About </a>
        <a href="#"> Instruction </a>
      </div>
      <div class="action-button-group">
        <a href="#" (click)="onSave(myForm)"> Save </a>
        <a href="#" (click)="onMake(AgentType.Unknown)"> Reset </a>
      </div>
    </div>
    <div class="tab-bar">
      <div class="tab-button-group">
        <a href="#" (click)="onClickShowWorkStationConfigPanel()">
          Work Station
        </a>
        <a href="#" (click)="onClickShowWorkerConfigPanel()"> Worker </a>
        <a href="#" (click)="onClickShowAgvConfigPanel()"> Agv </a>
      </div>
    </div>

    <div class="content">
      <div class="configuration">
        <div class="config-panel-container" *ngIf="showWorkStationConfigPanel">
          <app-config-panel [configs]="workStationConfig">
            <ng-template appConfigPanelTableTmp id="workStation">
              <div
                class="work-station-processing-times"
                formGroupName="processingTimes"
              >
                <table *ngIf="showWorkStationProcessingTimesTable()">
                  <tr>
                    <th>Type of Product</th>
                    <th
                      *ngFor="
                        let control of processingTimesFormGroup.controls
                          | keyvalue: keyValueSortFn;
                        let i = index;
                        trackBy: trackByFn
                      "
                      [formGroupName]="control.key"
                    >
                      {{ "Work station " + (i + 1) + " (" + control.key + ")" }}
                    </th>
                  </tr>
                  <tr *ngFor="let productName of productNames">
                    <td>{{ productName }}</td>
                    <td
                      *ngFor="
                        let control of processingTimesFormGroup.controls
                          | keyvalue: keyValueSortFn;
                        let i = index;
                        trackBy: trackByFn
                      "
                      [formGroupName]="control.key"
                    >
                      <input
                        [id]="'control-{{ i }}-processingTime' + productName"
                        type="text"
                        [formControlName]="'processingTime' + productName"
                      />
                    </td>
                  </tr>
                </table>
              </div>
            </ng-template>
          </app-config-panel>
        </div>
        <div class="config-panel-container" *ngIf="showWorkerConfigPanel">
          <app-config-panel [configs]="workerConfig"></app-config-panel>
        </div>
        <div class="config-panel-container" *ngIf="showAgvConfigPanel">
          <app-config-panel [configs]="agvConfig">
            <ng-template appConfigPanelTableTmp id="agvStation">
              <div class="agv-configuration">
                <table>
                  <tr>
                    <th>Component Load-up time</th>
                    <th>Component Drop-down time</th>
                  </tr>
                  <tr>
                    <td>
                      <input
                        id="agvLoadingTime"
                        type="number"
                        formControlName="agvLoadingTime"
                      />
                    </td>
                    <td>
                      <input
                        id="agvFillingTime"
                        type="number"
                        formControlName="agvFillingTime"
                      />
                    </td>
                  </tr>
                </table>
              </div>
            </ng-template>
          </app-config-panel>
        </div>
      </div>
      <div
        class="matrix-board"
        (window:resize)="onResizeCanvas()"
        (mouseup)="onMouseUp($event)"
        (mousedown)="onMouseDown($event)"
        (mousemove)="onMouseMove($event)"
        #mainContainer
      >
        <canvas #canvas></canvas>
        <ng-container *ngFor="let ch of height; let y = index">
          <div
            *ngFor="let cw of width; let x = index"
            [class]="
          getCellClass(
            {
              x,
              y
            }
          )
        "
            [style.height.%]="100 / height.length"
            [style.width.%]="100 / width.length"
          >
            {{ x + ", " + y }}
          </div>
        </ng-container>
      </div>
    </div>
  </form>
</div>
