<div class="container">
  <div class="small-panel" *ngFor="let config of configs">
    <div class="title">
      {{ config.textTitle }}
    </div>
    <div *ngIf="false" class="description">
      {{ config.description }}
    </div>
    <div class="button">
      <button
        mat-flat-button
        color="primary"
        type="button"
        (click)="onClick(config)"
      >
        {{ config.buttonText || "Choose" }}
      </button>
      <a
        [matTooltip]="config.description"
        matTooltipPosition="right"
        class="info"
        (click)="toggleDescription(config.id)"
      >
        <mat-icon aria-hidden="false"> info </mat-icon>
      </a>
    </div>
    <div style="overflow: auto" *ngIf="config.id == configPanelTableId">
      <ng-template [ngTemplateOutlet]="configPanelTableTmp"></ng-template>
    </div>
  </div>
</div>
